@media (max-width: 1600px)
	.logo
		display: none
@media (max-width: 1200px)
	.promo
		min-height: 700px
		padding-top: 100px
		&_logo
			font-size: 74px
		&_slogan
			text-align: left
	.history
		.carousel
			&__history
				margin-top: 60px
				&__item
					width: 300px
					height: 220px
			.slick-prev, .slick-next
				left: -20px
			.slick-next
				right: -20px
				left: auto
	.courts
		.carousel
			&__inner
				width: 800px
				margin: 0 auto
				margin-top: 60px
	
		