.categories
	padding-top: 80px
	background: $bg_color
	min-height: 740px
	&_title
		text-align: center
	&_item
		padding: 210px 0 0 16px
		margin-top: 75px
		height: 520px
		width: 350px
		&_1
			background: url('../img/categories/man1.png') center (center / cover) no-repeat
		&_2
			background: url('../img/categories/man2.png') center (center / cover) no-repeat
		&_3
			background: url('../img/categories/woman2.png') center (center / cover) no-repeat
		&_title
			font-weight: 700
			font-size: 36px
			line-height: 36px
			color: #000000
			margin-bottom: 15px
		&_inf
			font-weight: 600
			font-size: 30px
			line-height: 38px
			color: #000000
		&_near
			font-weight: 500
			font-size: 30px
			line-height: 38px
			text-decoration-line: underline
			a
				color: $main-color
				+date_hover
		&_org
			font-weight: 100
			font-size: 30px
			line-height: 38px
			color: #000000