.courts
	background: $bg_color
	padding: 80px 0
.carousel
	&__inner
		margin-top: 60px
		a
			text-decoration: none
		&__title
			font-weight: 700
			font-size: 24px
			line-height: 100%
			letter-spacing: 0.035em
			color: #FFFFFF
			text-align: center
			margin-top: 20px
			&:hover
				color: $main-color
				
	.slick-prev, .slick-next
		position: absolute
		top: 50%
		left: -50px
		transform: translateY(-50%)
		border: none
		background-color: $bg_color
		img
			width: 20px
			height: 33px
	.slick-next
		right: -50px
		left: auto
	
	

					
		

		