.director_sing
	&_bg_director
		position: absolute
		left: 0
		background: #5A4E3F
		width: 50%
		height: 415px
	.director
		padding-top: 40px
		&_img
			width: 100%
			margin-top: 10px
			
		&_title
			font-weight: 700
			font-size: 44px
			line-height: 50px
			text-transform: uppercase
			color: #FFFFFF
			letter-spacing: 1px
		&_subtitle
			font-weight: 600
			font-size: 36px
			line-height: 55px
			color: #FF7A00
			letter-spacing: 1px

		&_descr
			font-weight: 500
			font-size: 33px
			line-height: 33px
			color: #000000
			letter-spacing: 1px
			text-transform: lowercase
		&_phone
			margin-top: 10px
			font-weight: 700
			font-size: 33px
			color: #FFFFFF
			a
				color: #fff
				text-decoration: underline
				+link_hover
	&_bg_sing
		position: absolute
		right: 0
		width: 50%
		height: 415px
		background: url('../img/director/bg.png') center (center / cover) no-repeat
	.sing
		padding: 35px 0 0 25px
		&_title
			font-weight: 700
			font-size: 44px
			line-height: 50px
			color: #000000
			span
				color: $main_color
		&_descr
			list-style: none
			font-weight: 600
			font-size: 24px
			line-height: 30px
			color: #000000
			margin: 15px 0
			letter-spacing: 1px
			li 
				text-transform: lowercase
				&:before
					content: ''
					display: inline-block
					height: 5px
					width: 5px
					vertical-align: middle
					border-radius:50%
					background-color:#000
					margin-right: 10px
		&_tipe
			font-weight: 700
			font-size: 32px
			line-height: 36px
			color: #000000
			span
				color: $main_color
		&_btn
			width: 200px
			height: 60px
			margin-top: 15px
		

