.footer
    padding: 60px 0 50px 0
    background: $bg_color
    &_phone
        font-weight: 700
        font-size: 55px
        line-height: 40px
        color: #FFFFFF
    &_logo
        font-weight: 700
        font-size: 36px
        line-height: 43px
        color: #FFFFFF
    &_icons
        display: flex
        justify-content: space-around
    
