.modal_tour
    padding: 30px 30px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    min-width: 1000px
    min-height: 180px
    background: $bg_color
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 28px
    overflow-y: initial !important
    display: none
    &_body
        overflow-y: auto
        max-height: 65vh
        &::-webkit-scrollbar
            width: 0
            
        -ms-overflow-style: none
    &_item
        background: url(../img/history/bg_date.png) center (center / cover) no-repeat
        display: flex
        justify-content: center
        align-items: center
        border-radius: 24px
        height: 125px
        width: 100%
        font-weight: 500
        font-size: 96px
        line-height: 115px
        color: #FFFFFF
        mix-blend-mode: normal
        margin-bottom: 30px
        

            

        
        
        