@import 'base/variables'
@import 'base/mixins'
*
	font-family: 'Alumni Sans', sans-serif
	padding: 0
	scroll-behavior: smooth
	text-transform: uppercase
	// body
	// 	.modal-open
	// 		overflow: hidden


@import 'blocks/header'
@import 'blocks/promo'
@import 'blocks/buttons'
@import 'blocks/title'
@import 'blocks/anons_partners'
@import 'blocks/categories'
@import 'blocks/courts'
@import 'blocks/history'
@import 'blocks/director_sing'
@import 'blocks/footer'
@import 'blocks/modal'
@import 'blocks/pageup'
@import 'blocks/media'