.anons_partners
	&_bg_nearest
		position: absolute
		width: 50%
		height: 585px
		background: url('../img/anons/bg.png') center (center / cover) no-repeat
	.nearest
		padding: 80px 0 40px 0
		&_title
			color: $text_color
			text-align: left
		&_address
			margin-top: 20px
			font-weight: 400
			font-size: 24px
			line-height: 20px
			color: $text_color
		&_date
			margin-top: 25px
			font-weight: 700
			font-size: 36px
			line-height: 43px
			color: $text_color
		&_categories
			margin-top: 25px
			font-weight: 700
			font-size: 40px
			line-height: 40px
			color: $text_color
		&_data
			margin-top: 20px
			font-weight: 700
			font-size: 32px
			line-height: 32px
			color: $bg_color
			span
				font-weight: 400
		&_btn
			display: flex
			justify-content: space-between
			margin-top: 32px
			&_1
				width: 200px
				height: 60px
			&_2
				width: 200px
				height: 60px
				background: #F1B913
				&:hover
					background: #a57d07
					transition: 0.2s all 
				&:focus
					outline: none
		.col-lg-10
			padding-left: 0
			
	&_bg_partners
		position: absolute
		right: 0
		background: #22170A
		width: 50%
		height: 585px
	.partners
		padding: 80px 0 40px 0
		&_link
			display: flex
			justify-content: center
			&_icons
				margin-top: 25px
				list-style-type: none
				width: 60%