.promo
	background: url("../img/discription/bg.png") center (center / cover) no-repeat
	min-height: 900px
	position: relative
	padding-top: 200px
	&_logo
		font-family: 'Bayon'
		font-style: normal
		font-weight: 400
		font-size: 96px
		line-height: 96px
		color: #FFFFFF
		margin-bottom: 0

	&_descr
		margin-top: 60px
		width: 275px
		font-family: 'Roboto'
		font-weight: 300
		letter-spacing: 1px
		font-size: 24px
		line-height: 43px
		color: #FFFFFF
		text-transform: lowercase
	&_btn
		width: 75%
		height: 60px
		background: $main-color
		margin-top: 72px
	&_slogan
		position: relative
		top: 35%
		font-style: normal
		text-align: right
		font-weight: 700
		font-size: 48px
		line-height: 48px
		letter-spacing: 0.02em
		color: #FFFFFF
	.social
		margin-top: 100px
		display: flex
		justify-content: space-between
		&_link
			font-family: 'Roboto'
			font-weight: 500
			font-size: 18px
			line-height: 43px
			text-align: center
			color: #FFFFFF
			letter-spacing: -1px
			text-transform: uppercase
			&:hover
				color: $main-color
				text-decoration: none
				transition: 0.3s all